/.gradle
/.idea
/TourGuide/.idea
/TourGuide/.gradle
/TourGuide/out
/TourGuide/build
/RewardCentral/.idea
/RewardCentral/.gradle
/RewardCentral/out
/RewardCentral/build
/GpsUtil/.idea
/GpsUtil/.gradle
/GpsUtil/out
/GpsUtil/build
/TripPricer/.idea
/TripPricer/.gradle
/TripPricer/out
/TripPricer/build